# Unison
.unison*/
.unisonHistory

# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.swp
*.un~
**/cache/**
**/build/**
tags
ctags
unison-src/.loaded
**/cabal.sandbox.config
.cabal-sandbox/**
blockstore
blockstore.leveldb
target
htags
scala-tags
haskell-tags
out

# Stack
.stack-work

# IntelliJ
.idea
*.iml

# Nix
result*
**/hie.log
**/hie.err

# Misc
*~
.DS_Store
.virtualenv
.vagrant
.bloop
.floo
.flooignore
tmp/
