# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.swp
*.un~
**/cache/**
**/build/**
store
tags
**cabal.sandbox.config
.cabal-sandbox/**

# Stack
.stack-work

# Misc
*~
.DS_Store
.virthualenv
.vagrant
/node/testreleases
/node/testacquires
