@font-face {
    font-family: 'fira-code-regular';
    src: url('../fonts/fira-code.webfont/fira-code_regular.eot');
    src: url('../fonts/fira-code.webfont/fira-code_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira-code.webfont/fira-code_regular.woff') format('woff'),
         url('../fonts/fira-code.webfont/fira-code_regular.ttf') format('truetype'),
         url('../fonts/fira-code.webfont/fira-code_regular.svg#fira-code-regular') format('svg');
}

.selection-layer {
  background-color: rgba(0,0,0,.05);
  z-index: 1;
  border-radius: 3px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.4);
  animation-delay: .5s;
  animation-name: pulse;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes pulse {
    from { border-color: rgba(0,0,0,.4);}
    to {border-color: rgba(0,0,0,.08);}
}

.docwidget {
  /* font-family: 'Fira Sans', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  cursor: default;
  z-index: 0;
  font-family: 'fira-code-regular', monospace;
  font-size: 12pt;
  padding: 1px;
  font-variant-ligatures: common-ligatures;
}

.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hitem {
  flex: none;
}

.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.vitem {
  flex: none;
}
