@font-face {
    font-family: 'fira-code-regular';
    src: url('../fonts/fira-code.webfont/fira-code_regular.eot');
    src: url('../fonts/fira-code.webfont/fira-code_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fira-code.webfont/fira-code_regular.woff') format('woff'),
         url('../fonts/fira-code.webfont/fira-code_regular.ttf') format('truetype'),
         url('../fonts/fira-code.webfont/fira-code_regular.svg#fira-code-regular') format('svg');
}

.selection-layer {
  background-color: rgba(200,0,0,.25);
  z-index: 1;
}

.docwidget {
  /* font-family: 'Fira Sans', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  z-index: 0;
  font-family: 'fira-code-regular', monospace;
  font-size: 12pt;
  font-variant-ligatures: common-ligatures;
}

.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hitem {
  flex: none;
}

.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.vitem {
  flex: none;
}
