.docwidget {
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}

.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hitem {
  flex: none;
}

.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.vitem {
  flex: none;
}
