<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Unison</title>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/flat-ui.css" />
        <link rel="stylesheet" type="text/css" href="/css/components.css"/>
    </head>
    <body class="root-container">
        <div id="header">
          <a href="/"><img src="/images/unison-logo.svg" style="max-height: 200px;" /></a>
        </div>
        <div class="horizontal-rule"/>
        <div class="big-vsep"/>
        <div id="content">
            <h3>$title$</h3>
            $body$
        </div>
    </body>
</html>
