name: CI

on:
  # Build on every pull request (and new PR commit)
  pull_request:
  # Build on new pushes to trunk (E.g. Merge commits)
  # Without the branch filter, each commit on a branch with a PR is triggered twice.
  # See: https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662
  push:
    branches:
      - trunk
    tags:
      - release/*

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      # Run each build to completion, regardless of if any have failed
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - macOS-11.0
          - macOS-10.15
    steps:
      - uses: actions/checkout@v2

      # The random number towards the beginning of the cache keys below are meant to be bumped as a crude means to clear
      # a cache. GitHub will automatically delete caches that haven't been accessed in 7 days, but there is no way to
      # purge one manually.

      # Cache ~/.stack, keyed by the contents of 'stack.yaml'.
      - uses: actions/cache@v2
        name: cache ~/.stack
        with:
          path: ~/.stack
          key: stack-0_${{matrix.os}}-${{hashFiles('stack.yaml')}}

      # Cache each local package's ~/.stack-work for fast incremental builds in CI.
      - uses: actions/cache@v2
        name: cache .stack-work
        with:
          path: |
            .stack-work
            parser-typechecker/.stack-work
            unison-core/.stack-work
            yaks/easytest/.stack-work
            # Main cache key: commit hash. This should always result in a cache miss...
          key: stack-work-2_${{matrix.os}}-${{github.sha}}
          # ...but then fall back on the latest cache stored (on this branch)
          restore-keys: stack-work-2_${{matrix.os}}-

      # Install stack by downloading the binary from GitHub. The installation process is different for Linux and macOS,
      # so this is split into two steps, only one of which will run on any particular build.
      - name: install stack (Linux)
        if: runner.os == 'Linux'
        run: |
          curl -L https://github.com/commercialhaskell/stack/releases/download/v2.5.1/stack-2.5.1-linux-x86_64.tar.gz | tar -xz
          echo "$HOME/stack-2.5.1-linux-x86_64/" >> $GITHUB_PATH
      - name: install stack (macOS)
        if: runner.os == 'macOS'
        run: |
          curl -L https://github.com/commercialhaskell/stack/releases/download/v2.5.1/stack-2.5.1-osx-x86_64.tar.gz | tar -xz
          echo "$HOME/stack-2.5.1-osx-x86_64/" >> $GITHUB_PATH

      # One of the transcripts fails if the user's git name hasn't been set.
      - name: set git user info
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: remove ~/.stack/setup-exe-cache on macOS
        if: runner.os == 'macOS'
        run: rm -rf ~/.stack/setup-exe-cache

      # Build deps, then build local code. Splitting it into two steps just allows us to see how much time each step
      # takes.
      - name: build dependencies
        run: stack --no-terminal build --fast --only-dependencies

      # We only build haddocks on Linux to save time.
      - name: build (with haddocks)
        if: runner.os == 'Linux'
        run: stack --no-terminal build --fast --haddock
      - name: build
        if: runner.os != 'Linux'
        run: stack --no-terminal build --fast


      # Run each test suite (tests and transcripts)
      - name: tests
        run: stack --no-terminal exec tests
      - name: transcripts
        run: |
          stack --no-terminal exec transcripts
          git diff
          x=`git status --porcelain -uno` bash -c 'if [[ -n $x ]]; then echo "$x" && false; fi'
      - name: prettyprint-round-trip
        run: stack --no-terminal exec unison transcript unison-src/transcripts-round-trip/main.md
      - name: other test suites
        run: stack --no-terminal test unison-util-relation

      # Haddocks
      - name: Copy haddocks
        if: runner.os == 'Linux'
        run: |
          docs_root="$(stack path --local-doc-root)"
          mkdir -p /haddocks
          cp -r "${docs_root}"/* /haddocks
      - name: Commit and push haddocks
        if: runner.os == 'Linux'
        uses: actions/checkout@v2
        with:
          ref: 'haddocks'
        run: |
          # Erase any stale files
          rm -rf ./*
          cp -r "${docs_root}"/* ./
          git add .
          git commit -m "Regenerate haddocks based on ${GITHUB_SHA}"
          git push
